<h2 class="page-header">Update Book</h2>
<!-- Multer adds a body object and a file or files object to the request object.  -->
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_book_fields') %>
        <div class="btn-row">
            <a class="btn btn-danger" href="/books">Cancel</a>
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
</form>