<h2>New Book</h2>
<!-- Multer adds a body object and a file or files object to the request object.  -->
<form action="/books" method="POST">
    <%- include('_book_fields') %> 
    <a href="/books">Cancel</a>
    <button type="submit">create</button>
</form>