<h2>New author</h2>
<form action="/books" method="POST">
    <label for="name">Name: </label><input name="name" type="text" value=""> 
    <a href="/boooks">Cancel</a>
    <button type="submit">create</button>
</form>