<h2 class="page-header">New Book</h2>
<!-- Multer adds a body object and a file or files object to the request object.  -->
<form action="/books" method="POST">
    <%- include('_book_fields') %>
        <div class="form-row form-row-end btn-row">
            <a class="btn btn-danger" href="/books">Cancel</a>
            <button class="btn btn-primary" type="submit">create</button>
        </div>
</form>