:root{
    --book-cover-width:200px;
    --book-cover-width-large: 275px;
    --book-cover-aspect-ratio: 0.75;
}

.book-cover{
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width)/var(--book-cover-aspect-ratio));
}

/* Book cover large is included in book cover so need to speify all of the style again */
.book-cover-large{
    --book-cover-width: var(var(--book-cover-width-large));
}

.book-grid{
    display: grid;
    grid-gap: 1rem;
    justify-content: center ;
    grid-template-columns: repeat(auto-fill,var(--book-cover-width)); /*fill up the grid columns maximum, if a row is overloaded , go next row*/

}

.book-grid-large{
    --book-cover-width:var(--book-cover-width-large);
}

.book-details{
    display: flex;
}

.book-details-label{
    font-size: 1.2rem;
    align-self: flex-start;
    font-weight: 500;
}

.book-details-grid{
    margin-left: 3rem;
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}

.book-details-btn-grid{
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: "edit delete";
    grid-gap: 0.5rem;
    margin-top: 0.5rem;
}

.book-details-auth-btn{
    background-color: rgb(97, 189, 97);
    color: whitesmoke;
}