:root {
    --color-btn-border: black;

    --color-btn-primary-text: rgb(99, 94, 94);
    --color-btn-primary-background: rgb(var(--color-base-rgb));
    --color-btn-danger-text: whitesmoke;
    --color-btn-danger-background: rgb(184, 93, 93);
    --color-btn-primary-background-hover: rgb(var(--color-base-rgb),.8);
    --color-btn-danger-background-hover: rgba(168, 91, 91);
}

.btn {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .3rem 1rem;
    font-size: .8rem;
    font-family: 'Comic Neue';
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.btn-row{
    display: flex;
    align-items: flex-start;
}
.btn-row > *{
    /* all button have this margin */
    margin-left: 1rem;
}
.btn-row > *:first-child{
    /* only first button has this margin */
    margin-left: 0;
}

.btn-primary{
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background);
}

.btn-danger{
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-background);
}

.btn-primary:hover{
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-background-hover);
}

.btn-danger:hover{
    color: var(--color-btn-danger-text);
    background-color: var(--color-btn-danger-background-hover);
}