:root{
    --nav-title-font-size: 1rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}
.header-title{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    text-decoration: none;
    font-family: 'Train One';
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
    letter-spacing: 3px;
}

.header-title #first{
    color: rgb(236, 226, 87);
    text-shadow:  2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.header-title #last{
    color: rgb(255, 51, 51);
    text-shadow:  2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.header-nav{
    display: flex; /* side by side */
    flex-wrap: wrap; /* wrap items when page small*/
    justify-content: space-between; /*space between items*/
    align-items: center;
    margin-bottom: 1rem;
}

.header-nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav li{
    list-style: none;
}

.header-nav li a{
    text-decoration: none;
    padding: 1rem;
    color: var(--color-text-light);
    font-weight: var(--nav-title-font-weight);

}

.header-nav li a:hover, .header-title:hover{
    color: whitesmoke;
}