<h2>Update Author</h2>
<!-- in view need to put the actual URL not with the middle ware or route . here /authors means / in route but uri: /authors -->
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <!-- author.name model is passed in the view, this store the value of input field and send to the route on submit -->
    <label for="name">Name: </label><input name="name" type="text" value="<%= author.name %>"> 
    <a href="/authors/<%= author.name %>">Cancel</a>
    <button type="submit">Update</button>
</form>