<h2 class="page-header">
    <%= author.name %>
</h2>
<div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit ">Edit</a>
    <%- include('../partials/_deleteField',{url: `/authors/${author.id}`}) %>
</div>
<% if(books.length> 0) {%>
    <h3 class="page-header">Books by Author:</h3>
        <%- include('../partials/bookGrid') %> 
            <% }else{ %>
                <h3>Author has no book yet</h3>
                <% } %>