<h2>
    <%= author.name %>
</h2>
<a href="/authors/<%= author.id %>/edit ">Edit</a>
<%- include('../partials/_deleteField',{url: `/authors/${author.id}`}) %>
    <% if(booksByAuthor.length> 0) {%>
        <h3>Books by Author:</h3>
        <% booksByAuthor.forEach(book=> { %>
            <img height="150" width="100" src="<%= book.coverImagePath %>" alt="Cover_image">
            <% }) %>
                <% }else{ %>
                    <h3>Author has no book yet</h3>
                    <% } %>